/* 
  @author : 
            Banaj Bedi
            Chandan Kansal 
*/

html{
  height:100%;
}
body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin: 2em;
    color: #3D3D3D;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(hello.jpg);
    background-size: 100%;
    /* background-color: rgba(20, 20, 20, 0.356); */
}

h1{
    font-style: BOLD;
    color: black;
}

h2{
    font-style: italic;
}

h3{
    clear:both;
}

video{
    clear: both;
    display: block; /*CSS Display property with value block renders an element with parent’s full width available, it also forces a line break.*/ 
}

section{
    opacity: 1; /*The opacity property sets the opacity level for an element.*/
}

button {
    z-index: 1000; /*The z-index property specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order.*/
    position: relative;/*An element with position: relative; is positioned relative to its normal position.*/
}
  
.removed {
    display: none;
}
  
.invisible {
    opacity: 0.2;
}
footer{
  
  text-align: center;
  padding: 3px;
  background-color: Orange;
  color: black;
  /* position: fixed; */
}
.note {
    font-family: arial, sans-serif;
    font-style: italic;
    font-size: 110%;
}

.webcam {
    position: relative;
}

main {
   flex-grow: 1;
}

.webcam, .classifyOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2%, 1%;
  cursor: pointer;
}

.webcam p, .classifyOnClick p {
  position: absolute; /* An element with position: absolute; is positioned relative to the nearest positioned ancestor  */
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.classifyOnClick {
  z-index: 0;
  position: relative;
}

.classifyOnClick canvas, .webcam canvas.overlay {
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 2;
}

#liveView {
  transform-origin: top left;
  transform: scale(1);
}